<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/font.css">
    <title>Dashboard</title>
</head>

<body>
    <nav class="nav-bar">
        <div class="menu-bar">
            <div class="profile">
                <img src="../assets/image/profil.jpg" alt="profile" style="border-radius: 100px;">
            </div>
            <div class="menu">
                <div class="main-menu">
                    <ul>
                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                            <a href="dashboard.html" class="actived"><i class="bi bi-house-door-fill"></i></a></i>
                        </li>
                        <li>
                            <a href="data_mitra.html"><i class="bi bi-stack"></i></a>
                        </li>
                        <li>
                            <a href="data_pengunjung.html"><i class="bi bi-file-earmark-text-fill"></i></a></i>
                        </li>
                        <li>
                            <a href="data_kunjungan.html"><i class="bi bi-graph-up-arrow"></i></a></i>
                        </li>
                        <li>
                            <a href="#"><i class="bi bi-info-circle-fill"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="button-menu">
                    <ul>
                        <li id="keluar" class=""><a href="#" class="out"><i class="bi bi-box-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="d-flex" style="background-color: #FFF !important;">
        <div class="container p-5 col-md-9">
            <h1>Selamat Datang</h1>
            <p>Nama_Admin</p>

            <div class="mt-5">
                <div class="row">
                    <div class="col-md-3 m-1">
                        <div class="card" style="background-color:#5DD482; border:none; border-radius: 10px;">
                            <div class="card-body">
                                <p style="font-size: 16;">Data Pengunjung</p>
                                <p style="text-align: center; font-size: 76px;"><b>109</b></p>
                                <p style="font-size: 16; text-align: right;"> orang </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 m-1">
                        <div class="card" style="background-color:#5DD482; border:none; border-radius: 10px;">
                            <div class="card-body">
                                <p style="font-size: 16;">Jumlah Mitra</p>
                                <p style="text-align: center; font-size: 76px;"><b>90</b> </p>
                                <p style="font-size: 16; text-align: right;"> Toko </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 m-1">
                        <div class="card" style="background-color:#5DD482; border:none; border-radius: 10px;">
                            <div class="card-body">
                                <p style="font-size: 16;">Jumlah Kunjungan</p>
                                <p style="text-align: center; font-size: 76px;"><b>1090</b> </p>
                                <p style="font-size: 16; text-align: right;"> Kunjungan </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="./../node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="./../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script>
    $(document).ready(function() {
        $("#keluar").click(function() {
            window.alert("Anda berhasil logout");
            window.location.href = "../index.html";
        });
    });
</script>

</html>