<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/font.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="d-flex" style="background-color: #FFF !important;">
        <div class="side-bar overflow-hidden p-3 col-md-3">
            <div class="top-side-bar text-center">
                <div class="profil">
                    <img class="profil-photo" src="../assets/image/profil.jpg" alt="">
                </div>
                <h3 class="mt-2">Nama Admin</h3>
                <p>Username <span>admin123</span> </p>
            </div>
            <hr class="mt-5">
            <div class="menu">
                <ul>
                    <li><a href="dashboard.html" class="text-decoration-none p-3 rounded-3 active"><i class="bi bi-house-door-fill me-3"></i>Home</a>
                    </li>
                    <li class="mt-2"><a href="data_mitra.html" class="text-decoration-none p-3 rounded-3"><i class="bi bi-layers-fill me-3"></i>Data Mitra</a>
                    </li>
                    <li class="mt-2"><a href="data_pengunjung.html" class="text-decoration-none p-3 rounded-3"><i class="bi bi-person-lines-fill me-3"></i>Data Pengunjung</a></li>
                </ul>
            </div>
            <div class="button"><button class="border-0 rounded-3" id="keluar">Keluar</button></div>
        </div>

        <div class="p-5 col-md-9">
            <h1>Selamat Datang</h1>
            <p>Nama_Admin</p>

            <div class="container mt-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                        <div class="card" style="background-color:#5DD482; border:none; border-radius: 10px;">
                            <div class="card-body">
                                <p style="font-size: 16;">Data Pengunjung</p>
                                <p style="text-align: center; font-size: 76px;"><b>109</b></p>
                                <p style="font-size: 16; text-align: right;"> orang </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card" style="background-color:#5DD482; border:none; border-radius: 10px;">
                            <div class="card-body">
                                <p style="font-size: 16;">Jumlah Mitra</p>
                                <p style="text-align: center; font-size: 76px;"><b>90</b> </p>
                                <p style="font-size: 16; text-align: right;"> Toko </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="./../node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="./../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script>
    $(document).ready(function() {
        $("#keluar").click(function() {
            window.alert("Anda berhasil logout");
            window.location.href = "../index.html";
        });
    });
</script>

</html>