<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/font.css">
    <title>Dashboard</title>
</head>

<body>
    <img src="../assets/image/virus2.png" class="bg-1 wow animate__animated animate__fadeIn">
    <img src="../assets/image/virus4.png" class="bg-4 wow animate__animated animate__fadeIn">

    <nav class="nav-bar">
        <div class="menu-bar">
            <div class="profile">
                <img src="../assets/image/profil.jpg" alt="profile" style="border-radius: 100px;">
            </div>
            <div class="menu">
                <div class="main-menu">
                    <ul>
                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                            <a href="dashboard.html" class="actived">
                                <i class="bi bi-house-door-fill"></i>
                                <div class="position-absolute tooltips">Beranda</div>
                            </a>
                        </li>
                        <li>
                            <a href="data_mitra.html">
                                <i class="bi bi-stack"></i>
                                <div class="position-absolute tooltips">Data Mitra</div>
                            </a>
                        </li>
                        <li>
                            <a href="data_pengunjung.html">
                                <i class="bi bi-file-earmark-text-fill"></i>
                                <div class="position-absolute tooltips">Data Pengunjung</div>
                            </a>
                        </li>
                        <li>
                            <a href="data_kunjungan.html">
                                <i class="bi bi-graph-up-arrow"></i>
                                <div class="position-absolute tooltips">Data Kunjungan</div>
                            </a>
                        </li>
                        <li>
                            <a href="informasi.html">
                                <i class="bi bi-info-circle-fill"></i>
                                <div class="position-absolute tooltips">Informasi</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="button-menu">
                    <ul>
                        <li id="keluar" class="">
                            <a href="#" class="out bg-danger text-white">
                                <i class="bi bi-box-arrow-right"></i>
                                <div class="position-absolute tooltips bg-danger text-white">Beranda</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="d-flex pt-5" style="background-color: #FFF !important;">
        <div class="p-5 col-md-10 shadow mb-5 ml-container" style="border-radius: 30px;">
            <h1>Selamat Datang <span id="nama">Admin GG</span></h1>

            <div class="mt-5">
                <div class="row">
                    <div class="col">
                        <div class="card" style="background-color:#5DD482; border:none; border-radius: 10px;">
                            <div class="card-body m-3">
                                <h4>Data Pengunjung</h4>
                                <p style="text-align: center; font-size: 76px;"><b>109</b></p>
                                <h4 style="text-align: right;"> orang </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col ms-3">
                        <div class="card" style="background-color:#5DD482; border:none; border-radius: 10px;">
                            <div class="card-body m-3">
                                <h4>Jumlah Mitra</h4>
                                <p style="text-align: center; font-size: 76px;"><b>90</b> </p>
                                <h4 style="text-align: right;"> Toko </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col ms-3">
                        <div class="card" style="background-color:#5DD482; border:none; border-radius: 10px;">
                            <div class="card-body m-3">
                                <h4>Jumlah Kunjungan</h4>
                                <p style="text-align: center; font-size: 76px;"><b>1090</b> </p>
                                <h4 style="text-align: right;"> Kunjungan </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-5 lato-regular">
                    <div class="col-md-12">
                        <div class="p-3 bg-body rounded2 p-5" style="border: 1px solid rgb(221, 221, 221);">
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    <h4>Total Kasus</h4>
                                    <h2 class=" lato-bold mt-3 mb-3">4.247.320</h2>
                                    <h6>+2048</h6>
                                </div>
                                <div class="col-md-3 text-center">
                                    <h4>Positif</h4>
                                    <h2 class="text-warning lato-bold mt-3 mb-3">124.632</h2>
                                    <h6>2% dari total kasus</h6>
                                </div>
                                <div class="col-md-3 text-center">
                                    <h4>Sembuh</h4>
                                    <h2 class="text-success lato-bold mt-3 mb-3">4.092.586</h2>
                                    <h6>96% dari total kasus</h6>
                                </div>
                                <div class="col-md-3 text-center">
                                    <h4>Meninggal</h4>
                                    <h2 class="text-danger lato-bold mt-3 mb-3">143.519</h2>
                                    <h6>3% dari total kasus</h6>
                                </div>
                                <div class="col-md-12 text-center mt-5">
                                    <img src="../assets/image/flag.png ">
                                    <span class="ps-2">Data oleh <a href="https://covid19.go.id/">covid19.go.id</a>. Diperbarui pada 04 November 2020</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="./../node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="./../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script>
    $(document).ready(function() {
        $("#keluar").click(function() {
            window.alert("Anda berhasil logout");
            window.location.href = "../index.html";
        });
    });
</script>

</html>