<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./../node_modules/datatables/media/css/jquery.dataTables.css">
    <link rel="stylesheet" href="./../assets/css/style.css">
    <link rel="stylesheet" href="./../assets/css/font.css">

    <title>Data Mitra</title>
</head>

<body>
    <div class="d-flex" style="background-color: #FFF !important;">
        <div class="side-bar overflow-hidden p-3 col-md-3">
            <div class="top-side-bar text-center">
                <div class="profil p-2">
                    <img class="profil-photo" src="../assets/image/profil.jpg" alt="">
                </div>
                <h3 class="mt-2">Nama Admin</h3>
                <p>Username <span>admin123</span> </p>
            </div>
            <hr class="mt-4">
            <div class="menu">
                <ul>
                    <li>
                        <a href="dashboard.html" class="text-decoration-none p-3 rounded-3"><i
                                class="bi bi-house-door-fill me-3"></i>Home</a>
                    </li>
                    <li class="mt-2">
                        <a href="data_mitra.html" class="text-decoration-none p-3 rounded-3 active"><i
                                class="bi bi-layers-fill me-3"></i>Data Mitra</a>
                    </li>
                    <li class="mt-2">
                        <a href="data_pengunjung.html" class="text-decoration-none p-3 rounded-3"><i
                                class="bi bi-person-lines-fill me-3"></i>Data Pengunjung</a>
                    </li>
                    <li class="mt-2">
                        <a href="data_kunjungan.html" class="text-decoration-none p-3 rounded-3"><i
                                class="bi bi-activity me-3"></i>Data Kunjungan</a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-success button" id="keluar">Keluar</button>
        </div>

        <div class="pt-5 container col-md-9" style="background-color: #FFFFFF;">
            <div class="row">
                <div class="col-lg-12">
                    <a href="input_mitra.html">
                        <button class="btn btn-primary mt-1 mb-3">Create New Data</button>
                    </a>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Data Mitra
                        </div>

                        <div class="panel-body">
                            <table id="example" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nama Mitra</th>
                                        <th scope="col">Alamat</th>
                                        <th scope="col">No HP</th>
                                        <th scope="col">Bidang Usaha</th>
                                        <th scope="col" width="250px">Deskripsi</th>
                                        <th scope="col" width="125px">Opsi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="hapusini">
                                        <td>1</td>
                                        <td id="id1"></td>
                                        <td id="nama1"></td>
                                        <td id="alamat1"></td>
                                        <td id="nohp1"></td>
                                        <td id="bidang1"></td>
                                        <td id="desk1"></td>
                                        <td>
                                            <a href="#" class="btn-sm btn-warning" id="update">Update</a>
                                            <a href="#" class="btn-sm btn-danger" id="delete">Delete</a>
                                        </td>
                                    </tr>
                                    <tr id="hapusini">
                                        <td>2</td>
                                        <td id="id2"></td>
                                        <td id="nama2"></td>
                                        <td id="alamat2"></td>
                                        <td id="nohp2"></td>
                                        <td id="bidang2"></td>
                                        <td id="desk2"></td>
                                        <td>
                                            <a href="#" class="btn-sm btn-warning" id="update">Update</a>
                                            <a href="#" class="btn-sm btn-danger" id="delete">Delete</a>
                                        </td>
                                    </tr>
                                    <tr id="hapusini">
                                        <td>3</td>
                                        <td id="id3"></td>
                                        <td id="nama3"></td>
                                        <td id="alamat3"></td>
                                        <td id="nohp3"></td>
                                        <td id="bidang3"></td>
                                        <td id="desk3"></td>
                                        <td>
                                            <a href="#" class="btn-sm btn-warning" id="update">Update</a>
                                            <a href="#" class="btn-sm btn-danger" id="delete">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
<script type="text/javascript" src="./../node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="./../node_modules/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="./../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="./../node_modules/bootstrap/dist/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable({
            responsive: true
        });

        $("#keluar").click(function() {
            window.alert("Anda berhasil logout");
            window.location.href = "../index.html";
        });

        $("#update").click(function() {
            window.location.href = "input_mitra.html";
        });

        $("#delete").click(function() {
            if (confirm('Apakah anda yakin ingin menghapus data ini?')) {
                alert('Data berhasil dihapus');
                $("#hapusini").remove();
                $("#id1").text("1");
                $("#id2").text("2");
            }
        });
        $.getJSON('../assets/json/data_mitra.json', function(data) {
        console.log(data);
            $('#id1').html(data[0].idMitra);
            $('#nama1').html(data[0].nama);
            $('#alamat1').html(data[0].alamat);
            $('#nohp1').html(data[0].noHP);
            $('#bidang1').html(data[0].bidangUsaha);
            $('#desk1').html(data[0].deskripsi);

            $('#id2').html(data[1].idMitra);
            $('#nama2').html(data[1].nama);
            $('#alamat2').html(data[1].alamat);
            $('#nohp2').html(data[1].noHP);
            $('#bidang2').html(data[1].bidangUsaha);
            $('#desk2').html(data[1].deskripsi);

            $('#id3').html(data[2].idMitra);
            $('#nama3').html(data[2].nama);
            $('#alamat3').html(data[2].alamat);
            $('#nohp3').html(data[2].noHP);
            $('#bidang3').html(data[2].bidangUsaha);
            $('#desk3').html(data[2].deskripsi);
            
        });
    });
</script>

</html>