<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./../node_modules/datatables/media/css/jquery.dataTables.css">
    <link rel="stylesheet" href="./../assets/css/style.css">
    <link rel="stylesheet" href="./../assets/css/font.css">

    <title>Data Kunjungan</title>
</head>

<body>
    <nav class="nav-bar">
        <div class="menu-bar">
            <div class="profile">
                <img src="../assets/image/profil.jpg" alt="profile" style="border-radius: 100px;">
            </div>
            <div class="menu">
                <div class="main-menu">
                    <ul>
                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                            <a href="dashboard.html"><i class="bi bi-house-door-fill"></i></a></i>
                        </li>
                        <li>
                            <a href="data_mitra.html"><i class="bi bi-stack"></i></a>
                        </li>
                        <li>
                            <a href="data_pengunjung.html"><i class="bi bi-file-earmark-text-fill"></i></a></i>
                        </li>
                        <li>
                            <a href="data_kunjungan.html" class="actived"><i class="bi bi-graph-up-arrow"></i></a></i>
                        </li>
                        <li>
                            <a href="#"><i class="bi bi-info-circle-fill"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="button-menu">
                    <ul>
                        <li id="keluar" class=""><a href="#" class="out"><i class="bi bi-box-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="d-flex" style="background-color: #FFF !important;">
        

        <div class="pt-5 container col-md-9" style="background-color: #FFFFFF;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Data Kunjungan
                        </div>

                        <div class="panel-body">
                            <table id="example" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">ID Kunjungan</th>
                                        <th scope="col">ID Pengunjung</th>
                                        <th scope="col">ID Mitra</th>
                                        <th scope="col" width="175px">Check In</th>
                                        <th scope="col" width="175px">Check Out</th>
                                        <th scope="col" width="125px">Opsi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="hapusini">
                                        <td>1</td>
                                        <td id="idK1"></td>
                                        <td id="idP1"></td>
                                        <td id="idM1"></td>
                                        <td id="in1"></td>
                                        <td id="out1"></td>
                                        <td>
                                            <a href="#" class="btn-sm btn-warning" id="update">Update</a>
                                            <a href="#" class="btn-sm btn-danger" id="delete">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td id="idK2"></td>
                                        <td id="idP2"></td>
                                        <td id="idM2"></td>
                                        <td id="in2"></td>
                                        <td id="out2"></td>
                                        <td>
                                            <a href="#" class="btn-sm btn-warning" id="update">Update</a>
                                            <a href="#" class="btn-sm btn-danger" id="delete">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td id="idK3"></td>
                                        <td id="idP3"></td>
                                        <td id="idM3"></td>
                                        <td id="in3"></td>
                                        <td id="out3"></td>
                                        <td>
                                            <a href="#" class="btn-sm btn-warning" id="update">Update</a>
                                            <a href="#" class="btn-sm btn-danger" id="delete">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
<script type="text/javascript" src="./../node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="./../node_modules/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="./../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="./../node_modules/bootstrap/dist/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable({
            responsive: true
        });

        $("#keluar").click(function() {
            window.alert("Anda berhasil logout");
            window.location.href = "../index.html";
        });

        $("#update").click(function() {
            window.location.href = "input_mitra.html";
        });

        $("#delete").click(function() {
            if (confirm('Apakah anda yakin ingin menghapus data ini?')) {
                alert('Data berhasil dihapus');
                $("#hapusini").remove();
                $("#id1").text("1");
                $("#id2").text("2");
            }
        });
        
        $.getJSON('../assets/json/data_kunjungan.json', function(data) {
        console.log(data);
            $('#idK1').html(data[0].idKunjungan);
            $('#idP1').html(data[0].idPengunjung);
            $('#idM1').html(data[0].idMitra);
            $('#in1').html(data[0].waktuCheckin);
            $('#out1').html(data[0].waktuCheckout);

            $('#idK2').html(data[1].idKunjungan);
            $('#idP2').html(data[1].idPengunjung);
            $('#idM2').html(data[1].idMitra);
            $('#in2').html(data[1].waktuCheckin);
            $('#out2').html(data[1].waktuCheckout);

            $('#idK3').html(data[2].idKunjungan);
            $('#idP3').html(data[2].idPengunjung);
            $('#idM3').html(data[2].idMitra);
            $('#in3').html(data[2].waktuCheckin);
            $('#out3').html(data[2].waktuCheckout);
        });
    });
</script>

</html>