<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./../node_modules/datatables/media/css/jquery.dataTables.css">
    <link rel="stylesheet" href="./../assets/css/style.css">
    <link rel="stylesheet" href="./../assets/css/font.css">

    <title>Data Pengunjung</title>
</head>

<body>
    <img src="../assets/image/virus2.png" class="bg-1 wow animate__animated animate__fadeIn">
    <img src="../assets/image/virus4.png" class="bg-4 wow animate__animated animate__fadeIn">

    <nav class="nav-bar">
        <div class="menu-bar">
            <div class="profile">
                <img src="../assets/image/profil.jpg" alt="profile" style="border-radius: 100px;">
            </div>
            <div class="menu">
                <div class="main-menu">
                    <ul>
                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                            <a href="dashboard.html">
                                <i class="bi bi-house-door-fill"></i>
                                <div class="position-absolute tooltips">Beranda</div>
                            </a>
                        </li>
                        <li>
                            <a href="data_mitra.html">
                                <i class="bi bi-stack"></i>
                                <div class="position-absolute tooltips">Data Mitra</div>
                            </a>
                        </li>
                        <li>
                            <a href="data_pengunjung.html" class="actived">
                                <i class="bi bi-file-earmark-text-fill"></i>
                                <div class="position-absolute tooltips">Data Pengunjung</div>
                            </a>
                        </li>
                        <li>
                            <a href="data_kunjungan.html">
                                <i class="bi bi-graph-up-arrow"></i>
                                <div class="position-absolute tooltips">Data Kunjungan</div>
                            </a>
                        </li>
                        <li>
                            <a href="informasi.html">
                                <i class="bi bi-info-circle-fill"></i>
                                <div class="position-absolute tooltips">Informasi</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="button-menu">
                    <ul>
                        <li id="keluar" class="">
                            <a href="#" class="out bg-danger text-white">
                                <i class="bi bi-box-arrow-right"></i>
                                <div class="position-absolute tooltips bg-danger text-white">Beranda</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="d-flex mt-5">
        <div class="p-5 col-md-10 shadow mb-5 ml-container" style="border-radius: 30px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Data Pengunjung
                        </div>

                        <div class="panel-body">
                            <table id="example" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nama Lengkap</th>
                                        <th scope="col">Alamat</th>
                                        <th scope="col">No HP</th>
                                        <th scope="col">Umur</th>
                                        <th scope="col">Jenis Kelamin</th>
                                        <th scope="col">Status Kesehatan</th>
                                        <th scope="col" width="125px">Opsi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="hapusini">
                                        <td>1</td>
                                        <td id="id1"></td>
                                        <td id="nama1"></td>
                                        <td id="alamat1"></td>
                                        <td id="nohp1"></td>
                                        <td id="umur1"></td>
                                        <td id="jk1"></td>
                                        <td id="status1"></td>
                                        <td>
                                            <a href="#" class="btn-sm btn-warning" id="update">Update</a>
                                            <a href="#" class="btn-sm btn-danger" id="delete">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td id="id2"></td>
                                        <td id="nama2"></td>
                                        <td id="alamat2"></td>
                                        <td id="nohp2"></td>
                                        <td id="umur2"></td>
                                        <td id="jk2"></td>
                                        <td id="status2"></td>
                                        <td>
                                            <a href="#" class="btn-sm btn-warning" id="update">Update</a>
                                            <a href="#" class="btn-sm btn-danger" id="delete">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td id="id3"></td>
                                        <td id="nama3"></td>
                                        <td id="alamat3"></td>
                                        <td id="nohp3"></td>
                                        <td id="umur3"></td>
                                        <td id="jk3"></td>
                                        <td id="status3"></td>
                                        <td>
                                            <a href="#" class="btn-sm btn-warning" id="update">Update</a>
                                            <a href="#" class="btn-sm btn-danger" id="delete">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
<script type="text/javascript" src="./../node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="./../node_modules/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="./../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="./../node_modules/bootstrap/dist/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable({
            responsive: true
        });

        $("#keluar").click(function() {
            window.alert("Anda berhasil logout");
            window.location.href = "../index.html";
        });

        $("#update").click(function() {
            window.location.href = "input_mitra.html";
        });

        $("#delete").click(function() {
            if (confirm('Apakah anda yakin ingin menghapus data ini?')) {
                alert('Data berhasil dihapus');
                $("#hapusini").remove();
                $("#id1").text("1");
                $("#id2").text("2");
            }
        });

        $.getJSON('../assets/json/data_pengunjung.json', function(data) {
            console.log(data);
            $('#id1').html(data[0].idPengunjung);
            $('#nama1').html(data[0].nama);
            $('#alamat1').html(data[0].alamat);
            $('#nohp1').html(data[0].noHP);
            $('#umur1').html(data[0].umur);
            $('#jk1').html(data[0].jenisKelamin);
            $('#status1').html(data[0].statusKesehatan);

            $('#id2').html(data[1].idPengunjung);
            $('#nama2').html(data[1].nama);
            $('#alamat2').html(data[1].alamat);
            $('#nohp2').html(data[1].noHP);
            $('#umur2').html(data[1].umur);
            $('#jk2').html(data[1].jenisKelamin);
            $('#status2').html(data[1].statusKesehatan);

            $('#id3').html(data[2].idPengunjung);
            $('#nama3').html(data[2].nama);
            $('#alamat3').html(data[2].alamat);
            $('#nohp3').html(data[2].noHP);
            $('#umur3').html(data[2].umur);
            $('#jk3').html(data[2].jenisKelamin);
            $('#status3').html(data[2].statusKesehatan);
        });
    });
</script>

</html>