<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./../node_modules/datatables/media/css/jquery.dataTables.css">
    <link rel="stylesheet" href="./../assets/css/style.css">
    <link rel="stylesheet" href="./../assets/css/font.css">

    <title>Data Mitra</title>
</head>

<body>
    <div class="d-flex" style="background-color: #FFF !important;">
        <div class="side-bar overflow-hidden p-3 col-md-3">
            <div class="top-side-bar text-center">
                <div class="profil p-2">
                    <img class="profil-photo" src="../assets/image/profil.jpg" alt="">
                </div>
                <h3 class="mt-2">Nama Admin</h3>
                <p>Username <span>admin123</span> </p>
            </div>
            <hr class="mt-4">
            <div class="menu">
                <ul>
                    <li>
                        <a href="dashboard.html" class="text-decoration-none p-3 rounded-3"><i
                                class="bi bi-house-door-fill me-3"></i>Home</a>
                    </li>
                    <li class="mt-2">
                        <a href="data_mitra.html" class="text-decoration-none p-3 rounded-3 active"><i
                                class="bi bi-layers-fill me-3"></i>Data Mitra</a>
                    </li>
                    <li class="mt-2">
                        <a href="data_pengunjung.html" class="text-decoration-none p-3 rounded-3"><i
                                class="bi bi-person-lines-fill me-3"></i>Data Pengunjung</a>
                    </li>
                    <li class="mt-2">
                        <a href="data_kunjungan.html" class="text-decoration-none p-3 rounded-3"><i
                                class="bi bi-activity me-3"></i>Data Kunjungan</a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-success button" id="keluar">Keluar</button>
        </div>

        <div class="pt-5 container col-md-9" style="background-color: #FFFFFF;">
            <div class="row">
                <div class="col-lg-12">
                    <a href="input_mitra.html">
                        <button class="btn btn-primary mt-1 mb-3">Create New Data</button>
                    </a>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Data Mitra
                        </div>

                        <div class="panel-body">
                            <table id="example" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Nama Lengkap</th>
                                        <th scope="col">No. Telp</th>
                                        <th scope="col">Kode Pos</th>
                                        <th scope="col">Opsi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="hapusini">
                                        <td>1</td>
                                        <td>Mark Jacob</td>
                                        <td>082123304428</td>
                                        <td>40287(Kab. Bandung)</td>
                                        <td>
                                            <a href="#" class="btn-sm btn-warning" id="update">Update</a>
                                            <a href="#" class="btn-sm btn-danger" id="delete">Delete</a>
                                        </td>
                                    </tr>
                                    <tr id="hapusini">
                                        <td id="id1">2</td>
                                        <td>Otto Thornton</td>
                                        <td>082123304428</td>
                                        <td>40274(Kota Bandung)</td>
                                        <td>
                                            <a href="#" class="btn-sm btn-warning" id="update">Update</a>
                                            <a href="#" class="btn-sm btn-danger" id="delete">Delete</a>
                                        </td>
                                    </tr>
                                    <tr id="hapusini">
                                        <td id="id2">3</td>
                                        <td>@mdo @fat</td>
                                        <td>082123304428</td>
                                        <td>40282(Bandung Barat)</td>
                                        <td>
                                            <a href="#" class="btn-sm btn-warning" id="update">Update</a>
                                            <a href="#" class="btn-sm btn-danger" id="delete">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
<script type="text/javascript" src="./../node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="./../node_modules/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="./../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="./../node_modules/bootstrap/dist/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable({
            responsive: true
        });

        $("#keluar").click(function() {
            window.alert("Anda berhasil logout");
            window.location.href = "../index.html";
        });

        $("#update").click(function() {
            window.location.href = "input_mitra.html";
        });

        $("#delete").click(function() {
            if (confirm('Apakah anda yakin ingin menghapus data ini?')) {
                alert('Data berhasil dihapus');
                $("#hapusini").remove();
                $("#id1").text("1");
                $("#id2").text("2");
            }
        });
    });
</script>

</html>