<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/font.css">
    <title>Dashboard</title>
</head>

<body>
    <nav class="nav-bar">
        <div class="menu-bar">
            <div class="profile">
                <img src="../assets/image/profil.jpg" alt="profile" style="border-radius: 100px;">
            </div>
            <div class="menu">
                <div class="main-menu">
                    <ul>
                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                            <a href="dashboard.html">
                                <i class="bi bi-house-door-fill"></i>
                                <div class="position-absolute tooltips">Beranda</div>
                            </a>
                        </li>
                        <li>
                            <a href="data_mitra.html">
                                <i class="bi bi-stack"></i>
                                <div class="position-absolute tooltips">Data Mitra</div>
                            </a>
                        </li>
                        <li>
                            <a href="data_pengunjung.html">
                                <i class="bi bi-file-earmark-text-fill"></i>
                                <div class="position-absolute tooltips">Data Pengunjung</div>
                            </a>
                        </li>
                        <li>
                            <a href="data_kunjungan.html">
                                <i class="bi bi-graph-up-arrow"></i>
                                <div class="position-absolute tooltips">Data Kunjungan</div>
                            </a>
                        </li>
                        <li>
                            <a href="informasi.html" class="actived">
                                <i class="bi bi-info-circle-fill"></i>
                                <div class="position-absolute tooltips">Informasi</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="button-menu">
                    <ul>
                        <li id="keluar" class="">
                            <a href="#" class="out bg-danger text-white">
                                <i class="bi bi-box-arrow-right"></i>
                                <div class="position-absolute tooltips bg-danger text-white">Beranda</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="d-flex pt-5" style="background-color: #FFF !important;">
        <div class="p-5 col-md-10 shadow ml-container" style="border-radius: 30px;">
            <h1 class="ms-5 mb-2">Get Touch with Us</h1>
            <div class="row">
                <div class="col-md-2 rounded2 text-center index-1 pt-4 ms-5">
                    <div class="card-profile">
                        <div class="card-photo"><img src="../assets/image/profil_1.jpeg" class="img-fluid"></div>
                        <!-- Team Details-->
                        <div class="card-info-profile">
                            <h5>Maulana Akbar</h5>
                            <p>1302190074</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 rounded2 text-center index-1 pt-4 ms-5">
                    <div class="card-profile">
                        <div class="card-photo"><img src="../assets/image/profil_2.jpeg" class="img-fluid"></div>
                        <!-- Team Details-->
                        <div class="card-info-profile">
                            <h5>Rifky Lovanto</h5>
                            <p>1302194068</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 rounded2 text-center index-1 pt-4 ms-5">
                    <div class="card-profile">
                        <div class="card-photo"><img src="../assets/image/profil_3.jpeg" class="img-fluid"></div>
                        <!-- Team Details-->
                        <div class="card-info-profile">
                            <h5>Gilang Gumelar</h5>
                            <p>1302194089</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 rounded2 text-center index-1 pt-4 ms-5">
                    <div class="card-profile">
                        <div class="card-photo"><img src="../assets/image/profil_4.jpeg" class="img-fluid"></div>
                        <!-- Team Details-->
                        <div class="card-info-profile">
                            <h5>Dzakwan Daffa</h5>
                            <p>1302194008</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 rounded2 text-center index-1 pt-4 ms-5">
                    <div class="card-profile">
                        <div class="card-photo"><img src="../assets/image/profil_5.jpeg" class="img-fluid"></div>
                        <!-- Team Details-->
                        <div class="card-info-profile">
                            <h5>Rizki Naufal</h5>
                            <p>1302194098</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="./../node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="./../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script>
    $(document).ready(function() {
        $("#keluar").click(function() {
            window.alert("Anda berhasil logout");
            window.location.href = "../index.html";
        });
    });
</script>

</html>