<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./../node_modules/datatables/media/css/jquery.dataTables.css">
    <link rel="stylesheet" href="./../assets/css/style.css">
    <link rel="stylesheet" href="./../assets/css/font.css">

    <title>Tambah Data Mitra</title>
</head>

<body style="background-color: #F6F6F6;">
    <nav class="nav-bar">
        <div class="menu-bar">
            <div class="profile">
                <img src="../assets/image/profil.jpg" alt="profile" style="border-radius: 100px;">
            </div>
            <div class="menu">
                <div class="main-menu">
                    <ul>
                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                            <a href="dashboard.html"><i class="bi bi-house-door-fill"></i></a></i>
                        </li>
                        <li>
                            <a href="data_mitra.html" class="actived"><i class="bi bi-stack"></i></a>
                        </li>
                        <li>
                            <a href="data_pengunjung.html"><i class="bi bi-file-earmark-text-fill"></i></a></i>
                        </li>
                        <li>
                            <a href="data_kunjungan.html"><i class="bi bi-graph-up-arrow"></i></a></i>
                        </li>
                        <li>
                            <a href="#"><i class="bi bi-info-circle-fill"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="button-menu">
                    <ul>
                        <li id="keluar" class=""><a href="#" class="out"><i class="bi bi-box-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="d-flex" style="background-color: #FFF !important;">
        
        <div class="container p-3" style="width: 100%;">
            <div class="row justify-content-center">
                <div class="col-md-8"><br />
                    <ol class="breadcrumb">
                        <li>Data Master</li>
                        <li>Data Mitra</li>
                        <li><a href="#">Input Mitra</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
            <div class="col-md-2"></div>
            <div class="mt-2 col-md-9">
                <form class="row justify-content-center">
                    <div>
                        <label for="form-mitra" class="form-label">Nama Mitra</label>
                        <input type="text" class="form-control" id="form-mitra">
                        <br>

                        <label for="form-mitra2" class="form-label">Alamat Mitra</label>
                        <input type="text" class="form-control" id="form-mitra2">
                        <br>

                        <label for="form-mitra3" class="form-label">No Handphone/Telephon</label>
                        <input type="text" class="form-control" id="form-mitra3">
                        <br>

                        <label for="form-mitra4" class="form-label">Bidang Usaha</label>
                        <input type="text" class="form-control" id="form-mitra4">
                        <br>

                        <label for="form-mitra5" class="form-label">Deskripsi Usaha</label>
                        <textarea type="text" class="form-control" id="form-mitra5" rows="6"></textarea>
                        <br>
                    </div>
                </form>
                <div class="float-end">
                    <button class="btn btn-danger" id="back">Batalkan</button>
                    <button class="btn btn-success" id="save">Simpan</button>
                </div>
            </div></div>
        </div>
    </div>
</body>
<script type="text/javascript" src="./../node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="./../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script>
    $(document).ready(function() {
        $("#back").click(function() {
            window.history.back();
        });

        $("#save").click(function() {
            window.alert("Data Berhasil Disimpan!");
            window.history.back();
        });

        $("#keluar").click(function() {
            window.alert("Anda berhasil logout");
            window.location.href = "../index.html";
        });
    });
</script>

</html>