<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./../node_modules/datatables/media/css/jquery.dataTables.css">
    <link rel="stylesheet" href="./../assets/css/style.css">
    <link rel="stylesheet" href="./../assets/css/font.css">

    <title>Tambah Data Mitra</title>
</head>

<body style="background-color: #F6F6F6;">
    <div class="d-flex" style="background-color: #FFF !important;">
        <div class="side-bar overflow-hidden p-3 col-md-3">
            <div class="top-side-bar text-center">
                <div class="profil p-2">
                    <img class="profil-photo" src="../assets/image/profil.jpg" alt="">
                </div>
                <h3 class="mt-2">Nama Admin</h3>
                <p>Username <span>admin123</span> </p>
            </div>
            <hr class="mt-4">
            <div class="menu">
                <ul>
                    <li>
                        <a href="dashboard.html" class="text-decoration-none p-3 rounded-3"><i
                                class="bi bi-house-door-fill me-3"></i>Home</a>
                    </li>
                    <li class="mt-2">
                        <a href="data_mitra.html" class="text-decoration-none p-3 rounded-3"><i
                                class="bi bi-layers-fill me-3"></i>Data Mitra</a>
                    </li>
                    <li class="mt-2">
                        <a href="data_pengunjung.html" class="text-decoration-none p-3 rounded-3"><i
                                class="bi bi-person-lines-fill me-3"></i>Data Pengunjung</a>
                    </li>
                    <li class="mt-2">
                        <a href="data_kunjungan.html" class="text-decoration-none p-3 rounded-3"><i
                                class="bi bi-activity me-3"></i>Data Kunjungan</a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-success button" id="keluar">Keluar</button>
        </div>

        <div class="container p-3" style="width: 100%;">
            <div class="row justify-content-center">
                <div class="col-md-12"><br />
                    <ol class="breadcrumb">
                        <li>Data Master</li>
                        <li>Data Mitra</li>
                        <li><a href="#">Input Mitra</a></li>
                    </ol>
                </div>
            </div>

            <div class="mt-2">
                <form class="row justify-content-center">
                    <div>
                        <label for="form-mitra" class="form-label">Nama Mitra</label>
                        <input type="text" class="form-control" id="form-mitra">
                        <br>

                        <label for="form-mitra2" class="form-label">Alamat Mitra</label>
                        <input type="text" class="form-control" id="form-mitra2">
                        <br>

                        <label for="form-mitra3" class="form-label">No Handphone/Telephon</label>
                        <input type="text" class="form-control" id="form-mitra3">
                        <br>

                        <label for="form-mitra4" class="form-label">Bidang Usaha</label>
                        <input type="text" class="form-control" id="form-mitra4">
                        <br>

                        <label for="form-mitra5" class="form-label">Deskripsi Usaha</label>
                        <textarea type="text" class="form-control" id="form-mitra5" rows="6"></textarea>
                        <br>
                    </div>
                </form>
                <div class="float-end">
                    <button class="btn btn-danger" id="back">Batalkan</button>
                    <button class="btn btn-success" id="save">Simpan</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="./../node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="./../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script>
    $(document).ready(function() {
        $("#back").click(function() {
            window.history.back();
        });

        $("#save").click(function() {
            window.alert("Data Berhasil Disimpan!");
            window.history.back();
        });

        $("#keluar").click(function() {
            window.alert("Anda berhasil logout");
            window.location.href = "../index.html";
        });
    });
</script>

</html>